exclude .clang-format
exclude asv.conf.json
exclude CONTRIBUTING.md
exclude Dockerfile
exclude Jenkinsfile
exclude requirements-*.txt
exclude .medusarc
exclude valgrind.supp

recursive-exclude src/vendor/libbacktrace/install *
recursive-exclude benchmarks *
recursive-exclude debian *
recursive-exclude docker *
recursive-exclude docs *
recursive-exclude src/memray *.cpp *.h
recursive-exclude src/memray *.md
recursive-exclude tests *
recursive-exclude news *
recursive-exclude vendor *

include README.md
include Makefile
include pyproject.toml
include package.json
include package-lock.json
include .bumpversion.cfg
include .babelrc
include webpack.config.js
include NEWS.rst
include .flake8
include src/memray/py.typed
include .pre-commit-config.yaml

recursive-include src/vendor *
recursive-include src/memray *.py
recursive-include src/memray *.pyi
recursive-include src/memray *.html *.js *.css
recursive-include src/memray *.pyx *.pxd
recursive-include src/memray *.gdb *.lldb
recursive-include src/memray/_memray *
recursive-include tools *.sh
