[build-system]

requires = [
     "setuptools",
     "wheel",
     "Cython"
]

build-backend = 'setuptools.build_meta'

[tool.ruff]
line-length = 95
select = ["F", "E", "W", "I001"]
fix = true

[tool.ruff.isort]
force-single-line = true
known-first-party = ["memray"]
known-third-party=["rich", "elftools", "pytest"]

[tool.isort]
force_single_line = true
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
known_first_party=["memray"]
known_third_party=["rich", "elftools", "pytest"]

[tool.towncrier]
package = "memray"
package_dir = "src"
filename = "NEWS.rst"
directory = "news"
type = [
  { name = "Features",                  directory = "feature", showcontent = true },
  { name = "Deprecations and Removals", directory = "removal", showcontent = true },
  { name = "Bug Fixes",                 directory = "bugfix",  showcontent = true },
  { name = "Improved Documentation",    directory = "doc",     showcontent = true },
  { name = "Miscellaneous",             directory = "misc",    showcontent = true },
]
underlines = "-~"

[tool.pytest.ini_options]
markers = [
    "valgrind",
]
xfail_strict = true

[tool.check-manifest]
ignore = [
  "src/memray/reporters/templates/assets/*.js",
]

[tool.mypy]
exclude="tests/integration/(native_extension|multithreaded_extension)/"

[tool.cibuildwheel]
build = ["cp38-*", "cp39-*", "cp310-*", "cp311-*"]
skip = "*musllinux*{i686,aarch64}*"
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"

[[tool.cibuildwheel.overrides]]
select = "cp3{7,8,9,10}-*"
manylinux-x86_64-image = "manylinux2010"
manylinux-i686-image = "manylinux2010"

[tool.cibuildwheel.linux]
before-all = [
  "yum install -y libunwind-devel lz4-devel gdb",
  "if ! yum install -y lldb; then echo lldb is not available; fi",
]

[tool.cibuildwheel.macos]
before-all = [
  "git clone --depth 1 --branch v1.9.4 https://github.com/lz4/lz4 lz4",
  "cd lz4",
  "make",
  "make install"
]
before-test = [
  "codesign --remove-signature /Library/Frameworks/Python.framework/Versions/*/bin/python3 || true",
  "codesign --remove-signature /Library/Frameworks/Python.framework/Versions/*/Resources/Python.app/Contents/MacOS/Python || true",
]

[tool.coverage.run]
plugins = [
  "Cython.Coverage",
]
source = [
  "src/memray",
  "tests/",
]
branch = true
parallel = true
omit = [
  "*__init__.py",
]

[tool.coverage.report]
skip_covered = true
show_missing = true


# Override the default linux before-all for musl linux
[[tool.cibuildwheel.overrides]]
select = "*-musllinux*"
before-all = [
  "apk add --update libunwind-dev lz4-dev gdb lldb",
]
