/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
.container {
  max-width: 990px;
}
