name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check_generated_files:
    name: 'Check if generated files are up to date'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qy npm git
    - name: Check if files are up to date
      run: make build-js
    - name: Check for changes
      run: |
        git add -u
        changes=$(git status --porcelain)
        # Check for changes in regenerated files
        if test -n "$changes"; then
          echo "Generated files not up to date."
          echo "$changes"
          echo ""
          git diff --staged || true
          exit 1
        fi

  test:
    name: 'Test suite'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.9', '3.8']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qy libunwind-dev pkg-config
    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install tox tox-gh-actions
    - name: Run tox
      run: tox . -vvv

  lint_and_docs:
    name: 'Lint and Docs'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qy clang-format npm libunwind-dev pkg-config
        npm install -g prettier
    - name: Install Python dependencies
      run: |
        python3 -m pip install -r requirements-extra.txt
    - name: Install Package
      run: |
        python3 -m pip install -e .
    - name: Lint sources
      run: |
        make lint
    - name: Build docs
      run: |
        make docs

  valgrind:
    name: 'Valgrind & Helgrind'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qy libunwind-dev pkg-config valgrind
    - name: Install Python dependencies and package
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r requirements-test.txt
        python3 -m pip install -e .
    - name: Run Valgrind
      run: make valgrind
    - name: Run Helgrind
      run: make helgrind

